.header {
    background-color: var(--color-white);
    border-bottom: solid 1px var(--color-alternate-grey-ligt) ;
}

.header__container {
    padding: 2.4rem 0 0;
}

.header__title {
    margin: 0;
    font-family: var(--font-secondary);
    font-weight: var(--font-weight-medium);
    font-size: var(--font-size-main-title);
    line-height: 4rem;
    color: var(--color-alternate-grey-dark);
}

@media screen and (max-width: 768px) {
    .header__container {
        padding: 0;
    }

    .header {
        border-bottom: solid 1px var(--color-alternate-grey-ligt);
    }

    .header__title {
        font-size: 2.8rem;
        font-weight: var(--font-weight-regular);
        line-height: 3.8rem;
        color: var(--color-text-grey);
        padding: 0 7.1rem 0 1.6rem;
    }
}
