.card {
    height: 367px;
    box-sizing: border-box;
    background-color: var(--color-text-white);
    box-shadow: 0 2px 4px rgba(33, 36, 41, 0.05);
    border-radius: 1.2rem;
    padding: 3.2rem 2.5rem;
}

@media screen and (max-width: 768px) {
    .card {
        padding: 0;
        height: 231px;
    }
}