/* Стилизация аккордеона */

.accordion {
    box-sizing: border-box;
    /* display: flex;
    flex-direction: column; */
    font-family: var(--font-secondary);
    font-weight: var(--font-weight-medium);
    line-height: 1.5;
    max-width: 579px;
}

.accondion__details {
    border: 1px solid var(--color-alternate-grey);
    border-radius: 0.8rem;
    font-size: var(--default-font-size);
    padding: 2.4rem 3.2rem 3.2rem 3.2rem;
}

.accondion__details:not(:first-child) {
    margin-top: 0.8rem;
}

.accondion__summary {
    cursor: pointer;
    list-style-type: none;
    color: var(--color-alternate-grey-dark);

    position: relative;
}

.accondion__summary::-webkit-details-marker {
    display: none;
}

.accondion__summary::after {
    /* content: url('../../assets/icons/Chevron.svg'); */
    content: url('../../assets/icons/sprite.svg#chevron');
    width: 18px;
    height: 10px;

    position: absolute;
    right: 0;
}

.accondion__details[open] .accondion__summary::after {
    display: inline-block;
    transform: rotate(180deg);
}

.accordion__content {
    margin: 0;
    padding-top: 1.6rem;
    color: var(--color-text-grey);
}

.icon {
    height: 240px;
    width: 240px;
}