.chart {
    box-sizing: border-box;
    max-height: 185px;
    max-width: 354px;
    padding: 1.6rem 2.4rem 2.4rem 2.4rem;

    border: 1px solid var(--color-alternate-grey);
    border-radius: 0.8rem;

    font-family: var(--font-primary);
}

.chart__header {
    display: flex;
    flex-wrap: wrap;
    align-items: start;
}

.chart__headind {
    flex-grow: 2;
    margin: 0;

    font-size: 1.6rem;
    font-weight: 400;
    color: var(--color-alternate-grey-dar);
    line-height: 24px;
}

.chart__link {
    display: inline-block;
    text-decoration: none;
    color: var(--color-primary);
}

.chart__link:link,
.chart__link:visited {
    color: var(--color-primary);
}

.chart__total {
    flex-basis: 100%;
    margin: 0.6rem 0 3.9rem;

    font-size: 2rem;
    line-height: 26px;
}

.chart__bar {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    gap: 1px;
    height: 50px;
}

.chart__bar-item {
    background-color: var(--color-primary);
    flex-grow: 1;
}