@import 'normalize.css';
@import '../fonts/fonts.css';
@import '../../components/page/page.css';
@import '../../components/container/container.css';
@import '../../components/nav/nav.css';
@import '../../components/header/header.css';
@import '../../components/preview/preview.css';
@import '../../components/footer/footer.css';

:root {
    /*COLOR VARIABLES*/
    --color-text-white: #fff;
    --color-text-grey: #495057;

    --color-primary: #4263EB;
    --color-secondary: #7048E8;
    --color-alternative: #F784AD;
    --color-alternate-grey: #ACB5BD;

    --color-primary-dark: #2342C0;
    --color-primary-light: #4263EB;

    --color-secondary-dark: #5028C6;
    --color-secondary-light: #7048E8;

    --color-alternate-grey-dark: #212429;
    --color-alternate-grey-ligt: #ACB5BD;

    --color-black: #000;
    --color-white: #fff;

    --color-bg-light-grey: #F9FAFC;

    /*FONT VARIABLES*/
    --font-primary: 'Roboto', sans-serif;
    --font-secondary: 'Inter', sans-serif;

    --default-font-size: 1.6rem;
    --font-size-main-title: 5rem;
}

html,
body {
    height: 100%;
}

html {
    font-size: 62.5%;
    /* 1rem = 10px */
}

body {
    font-family: var(--font-primary);
    font-size: var(--default-font-size);
    font-weight: 400;
    color: var(--color-text-grey);
}