.skeleton {
    box-sizing: border-box;
    max-width: 597px;
    border: solid 1px var(--color-alternate-grey);
    border-radius: 8px;
    padding: 3.2rem 2.4rem;
}

.skeleton__content {
    display: flex;
    flex-direction: column;
}

.skeleton__header {
    display: flex;
    gap: 1.6rem;

    margin-bottom: 2.4rem;
}

.skeleton__avatar {
    border-radius: 50%;
    background-color: var(--color-alternate-grey-ligt);
    height: 6.4rem;
    width: 6.4rem;
}


.skeleton__text {
    display: block;
    height: 2rem;
    background: linear-gradient(92.51deg, #DDE2E5 6.44%, #E2E6E8 38.47%, #F3F5F5 56.48%, #E3E7EA 77.5%, #DDE2E5 102.52%);
    margin-bottom: 0.8rem;
}

.skeleton__content-headings {
    width: var(--width-line-block-m);
}

.skeleton__content-body {
    max-width: var(--width-line-block-xl);
}

.skeleton__content-headings .skeleton__text:nth-child(1) {
    width: var(--width-line-block-s);
}

.skeleton__content-body .skeleton__text:nth-child(2) {
    width: var(--width-line-block-l);
}