.checkbox__group {
    font-family: var(--font-secondary);
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.checkbox {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--color-text-grey);
    cursor: pointer;

    display: inline-flex;
    position: relative;
}

.checkbox__heading {
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 18px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: var(--color-alternate-grey);
    margin-bottom: 0;
}

.checkbox__input {
    position: absolute;
    outline: none;
    clip: rect(0, 0, 0, 0);
}

.checkbox__state {
    display: flex;
    align-items: center;
    gap: 12px;
}

.checkbox__control {
    height: 28px;
    width: 28px;
    background: var(--color-white);
    border: 1px solid var(--color-alternate-grey-ligt);
    box-sizing: border-box;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.checkbox__control_icon {
    display: none;
}

.checkbox__title {
    font-weight: 400;
    font-size: var(--default-font-size);
    line-height: 24px;
    color: var(--color-text-grey);
}

.checkbox__input:checked ~ .checkbox__state .checkbox__control{
    background-color: var(--color-primary);
    background-color: var(--color-primary);
}

.checkbox__input:checked ~ .checkbox__state .checkbox__icon {
    display: block;
}

.checkbox__input:focus ~ .checkbox__state .checkbox__title {
    text-decoration: underline;
}

.checkbox__input:disabled ~ .checkbox__state .checkbox__title {
    color: var(--color-alternate-grey-ligt);
}