<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../assets/css/normalize.css">
    <link rel="stylesheet" href="../../assets/css/main.css">
    <title>Component</title>
</head>
<body>
    <div class="page component">
        <header class="header component__header">
            <div class="container header__container">
                <nav class="nav nav__menu component__nav">
                    <img src="../../assets/images/Logo.svg" alt="Reusable component library logo" class="logo">
                </nav>
                
                <h2 class="header__title component__header_title">
                    Histogram
                </h2>
            </div>
        </header>
    </div>
</body>
</html>