body {
    background: url("public/forest_2560.jpg") no-repeat;
    background-size: 100%;
}

@media screen and (max-width: 2560px) {
    body {
        background: url("public/forest_1024.jpg") no-repeat;
        background-size: 100%;
    }
}
@media screen and (max-width: 1023px) {

    body {
        background: url("public/forest_768.jpg") no-repeat;
        background-size: 100%;
    }
}

@media screen and (max-width: 767px) {

    body {
        background: url("public/forest_400.jpg") no-repeat;
        background-size: 100%;
    }
    
}
