.preview {
    background-color: var(--color-bg-light-grey);
    padding: 68px 0;
}

.preview__inner {
    display: flex;
    flex-direction: row;
    gap: 3rem 3rem;
    flex-wrap: wrap;
}

.preview__card {
    width: calc((100 / 3) * 1%);
    max-width: 35rem;

    display: flex;
    justify-content:center;
}

.preview__card__headings {
    font-family: var(--font-primary);
    color: var(--color-alternate-grey-dark);
    text-align: center;

    align-self:flex-end;
}

.preview__card__headings_title {
    font-weight: var(--font-weight-medium);
    font-size: 2.1rem;
    line-height: 25px;
    font-weight: var(--font-weight-regular);
    margin: 0;
    margin-bottom: 6px;
}

.preview__card__headings_text {
    font-weight: var(--font-weight-regular);
    font-size: var(--default-font-size);
    line-height: 19px;
    margin: 0;
}

@media screen and (max-width: 768px) {
    .preview {
        padding: 2.2rem 1.6rem;
    }

    .preview__inner {
        gap: 2.3rem 1.6rem;
        justify-content: space-between;
    }

    .preview__card {
        width: calc((100 / 2) * 1%);
        max-width: 164px;
    }

    .preview__card__headings {
        flex-grow: 1;
        border-top: solid 1px var(--color-alternate-grey-ligt);
        font-weight: var(--font-weight-regular);
  
        height: 6.6rem;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1rem 0;
    }

    .preview__card__headings_text {
        display: none;
    }
}